<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Saydam E-Ticaret</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">                  
          <li class="nav-item dropdown" *ngIf="user.isAdmin">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ürünler
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" routerLink="admin/products">Ürün Listesi</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="admin/categories">Kategoriler</a>
              </li>
            </ul>
          </li>                    
        </ul>      
        <button routerLink="/baskets" type="button" class="btn btn-outline-success btn-sm mx-2 position-relative">
          <i class="fa fa-shopping-cart"></i>
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            {{_basket.count}}
          </span>
        </button>
        <ul class="navbar-nav">                  
          <li class="nav-item dropdown" *ngIf="user.isAdmin">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{user.name}}
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" (click)="logout()">Çıkış yap</a>
              </li>              
            </ul>
          </li>          
        </ul>          
      </div>
    </div>
  </nav>