<nav class="navbar bg-body-tertiary navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Saydam E-Ticaret</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">                  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Ürünler
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="admin/products">Ürünler</a></li>
              <li>
                <a *ngIf="user.isAdmin" class="dropdown-item" routerLink="admin/categories">Kategoriler</a>
              </li>
            </ul>
          </li>          
        </ul>       
        <span>Sayın: {{user.name}}</span>   
          <button 
          class="btn btn-outline-danger mx-2" 
          (click)="logout()">
          <i class="fa fa-power-off"></i>
        </button>        
      </div>
    </div>
  </nav>