.link{
    padding: 20px;
    border-bottom: 1px solid #ccc;
    font-size: large;
    cursor: pointer;
}

.link:hover{
    /* border: 1px solid #ccc; */
    background-color: #f1f1f1;
    color: black;
}

.active{
    background-color: #0d6efd;
    color: white;
}

.card{
    padding: 10px;
}

.card-text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.filter{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;   
    position: relative;
}

.my-title {
    background-color: white;
    padding-left: 3px;
    padding-right: 3px;
    position: absolute;
    top: -15px; /* Başlığı çerçevenin üstüne taşımak için gerekli boşluğu ayarlayın */
    left: 20px; /* Başlığı sola hizalamak için gerekli boşluğu ayarlayın */
    z-index: 1; /* Başlığı çerçevenin üzerine taşımak için z-index değerini ayarlayın */
  }


  .btn-outline-primary:hover{
    color: white !important;
  }

  .black-icon{
    background-color: black !important;
}