<app-blank title="Ürünler" [routes]="routes">
    <div class="form-group">
        <button routerLink="/admin/products/add" class="btn btn-outline-primary">
            <i class="fa fa-plus"></i>
        </button>
        <div class="col-md-3" style="float: right;">
            <input type="search" class="form-control" [(ngModel)]="request.search" placeholder="Aranacak değeri yazın..." (keyup)="search()" (search)="getAll(1)">
        </div>
    </div>
    <div class="form-group mt-2" style="overflow: auto;">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>#</th>                            
                    <th>Ürün Resmi</th>
                    <th>Ürün Adı</th>
                    <th>Açıklama</th>
                    <th>Kategoriler</th>
                    <th>Stok Bilgisi</th>
                    <th>Birim Fiyatı</th>
                    <th>Oluşturulma Tarihi</th>
                    <th>Aktif/Pasif</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of result.data let index = index">
                    <td>{{index + 1}}</td>
                    <td class="text-center" (click)="setImageForModal(product)" data-bs-toggle="modal" data-bs-target="#imageModal">
                        <img [src]="'http://localhost:3000/' + product.imageUrls[0].path" width="50">
                    </td>
                    <td>{{product.name}}</td>
                    <td>{{product.description}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let category of product.categories">
                                {{category.name}}
                            </li>
                        </ul>
                    </td>
                    <td>{{product.stock}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.createdDate | date:'dd.MM.yyyy HH:mm:ss'}}</td>    
                    <td>
                        <!-- <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>                            
                        </div> -->
                        <section class="example-section center">
                            <mat-slide-toggle
                                class="example-margin"
                                [color]="color"
                                [checked]="product.isActive"
                                [disabled]="disabled"
                                (change)="changeActiveStatus(product._id)">
                            </mat-slide-toggle>
                          </section>
                    </td>                        
                    <td>
                        <button routerLink="/admin/products/update/{{product._id}}" class="btn btn-outline-warning btn-sm mx-1">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button (click)="removeById(product)" class="btn btn-outline-danger btn-sm">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <select [(ngModel)]="request.pageSize" class="form-control text-center" style="width: 65px; float: left;" (change)="getAll(1)">
            <option>5</option>
            <option>10</option>
            <option>20</option>
            <option>50</option> 
            <option>100</option>
            <option>200</option>
            </select>
        <nav style="float:right">
            <ul class="pagination">
             <li class="page-item" [ngClass]="result.isFirstPage ? 'disabled' : ''">
                <a class="page-link" (click)="getAll(1)">İlk</a>
             </li>
              <li class="page-item" [ngClass]="result.isFirstPage ? 'disabled' : ''">
                <a class="page-link" (click)="getAll(request.pageNumber - 1)">Önceki</a>
              </li>              
              <li class="page-item" aria-current="page" *ngFor="let p of pageNumbers">
                <a class="page-link" [ngClass]="result.pageNumber == p ? 'active' : ''" (click)="getAll(p)">{{p}}</a>
              </li>              
              <li class="page-item">
                <a class="page-link" [ngClass]="result.isLastPage ? 'disabled' : ''" (click)="getAll(request.pageNumber + 1)">Sonraki</a>
              </li>
              <li class="page-item">
                <a class="page-link" [ngClass]="result.isLastPage ? 'disabled' : ''" (click)="getAll(result.totalPageCount)">Son</a>
              </li>
            </ul>
          </nav>
    </div>
</app-blank>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="imageModalLabel">{{product.name}} Resimleri</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active" *ngFor="let image of product.imageUrls">
                    <img [src]="'http://localhost:3000/' + image.path" class="d-block w-100" alt="...">
                  </div>                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon black-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Önceki</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                  <span class="carousel-control-next-icon black-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Sonraki</span>
                </button>
              </div>
        </div>        
      </div>
    </div>
  </div>