<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <div class="card " style="margin-top: 50px;">
            <div class="card-header">
                <h1>Şifre Yenile</h1>
            </div>
            <div class="card-body">
                <form #refeshPasswordForm="ngForm" (ngSubmit)="refeshPassword(refeshPasswordForm)">
                    <div class="form-group">
                        <label for="code">
                            Şifremi Unuttum Kodu
                        </label>
                        <input class="form-control" [appValid]="code.validity.valid" type="text"
                            #code required minlength="6" maxlength="6" [(ngModel)]="codeText" name="code" id="code">
                        <div class="invalid-feedback">
                            Geçerli bir kod yazın!
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <label for="password">
                            Şifre
                        </label>
                        <div class="input-group mb-3">
                            <input type="password" required #password minlength="1" name="password" id="password"
                                ngModel class="form-control">
                            <div class="invalid-feedback">
                                Şifre en az 1 karakter olmalıdır!
                            </div>
                            <span class="input-group-text password" id="basic-addon1" style="cursor: pointer;">
                                <i (click)="showOrHidePassword(password)"
                                    [class]="password.type == 'password' ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </span>
                        </div>

                    </div>
                    <div class="form-group mt-2">
                        <app-loading-button [form]="refeshPasswordForm" iconClassName="fa fa-change" btnName="Şifremi Değiştir"
                            btnLoadingName="Şifremi Değiştiriliyor...">
                        </app-loading-button>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>
